@font-face {
	font-family: HiMelody;
	src: url("../font/HiMelody-Regular.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}

.ToDoList, .addTask, .containerName {
	font-family: HiMelody;
}

.containerBtn {
	display: inline;
}

.addTask {
	font-size: 25px;
	width: 51px;
	height: 35px;
	background: rgba(0, 153, 51, .5);
	border-radius: 5px;
	border-color: rgba(0, 153, 51, .5);
	opacity: 0.7;
	border: none;
}

.addTask:hover {
	background: #F0E68C;
}

.deleteBtn {
	position: absolute;
	left: 156px;
	background: transparent;
	border: none;
}

.img {
	width: 20px;
	height: 20px;
}

.task {
	font-family: HiMelody;
}

input:checked + label {
	text-decoration: line-through
}

.inline {
	display: inline;
	margin: 10px;
}

.inline:hover {
	color: #F0E68C;
}

footer {
	height: 80px;
	margin-top: 20px;
	margin-left: -68px;

}

.ToDoList {
	position: relative;
	left: 19%;
}


